language: ruby
sudo: false
rvm:
- 2.3
script: make
deploy:
- provider: s3
  edge: true
  access_key_id: AKIAJIWQPPCTGBGRXEFA
  secret_access_key:
    secure: STu9EzqVc6W6NAjYvzPokVa7SqzfEoyJU/lPHZfE6zdgC/z8FfCYdW21+gyHM6BqlfnxyQZZOCfAFePItQHEjMowICpjgePsG10oiY3uQ7nNWWdROnWTA+SsFxNuliaQ7wrn4lSptc87lff96kZ6cKIndojfm1f7VGsIGcGCjdk=
  bucket: beta.phillyrb.org
  local-dir: build
  skip_cleanup: true
  on:
    repo: phillyrb/phillyrb.org
    all_branches: true
- provider: s3
  edge: true
  access_key_id: AKIAJIWQPPCTGBGRXEFA
  secret_access_key:
    secure: STu9EzqVc6W6NAjYvzPokVa7SqzfEoyJU/lPHZfE6zdgC/z8FfCYdW21+gyHM6BqlfnxyQZZOCfAFePItQHEjMowICpjgePsG10oiY3uQ7nNWWdROnWTA+SsFxNuliaQ7wrn4lSptc87lff96kZ6cKIndojfm1f7VGsIGcGCjdk=
  bucket: www.phillyrb.org
  local-dir: build
  skip_cleanup: true
  on:
    repo: phillyrb/phillyrb.org
    branch: master
