%section-side-padding {
  padding: 0 2em;
}

%section-vertical-padding {
  padding: 4em 0 3em;
}

.hero {
  background: image-url('philly-header.jpg') no-repeat center;
  text-align: center;
  padding: 5em 0 12em;
  margin-bottom: -7em;

  @include media(em(1200)) {
    background-size: cover;
  };

  h1 {
    color: #fff;
    font-size: em(36);
    @include outer-container;
  }
}

.wrapper {
  @include outer-container;
}

%three-col {
  @include row;

  li {
    @include span-columns(4);
    @extend %section-side-padding;

    h1 {
      text-align: center;
    }
  }
}

.next-event {
  background: #fff;
}

.next-event-information {
  @include span-columns(6, table);
  padding: 2em;

  header {
    margin-bottom: 1em;
  }

  h1 {
    @extend %section-header;
  }

  h2 {
    @extend %primary-header;
    color: $red;
  }

  h3 {
    font-weight: normal;
    margin-bottom: 2em;
  }

  h4 + p {
    font-style: italic;
  }

  .speaker {
    margin-bottom: 0;
  }

  .more {
    @extend %all-caps;
    @include inline-block;
    margin-left: .5em;
  }

  a.rsvp {
    @extend %button;
    margin-top: 1.5em;
  }
}

.next-event-map {
  @include span-columns(6, table);
  background-color: $base-font-color;
}

.about-phillyrb {
  @extend %three-col;
  @extend %section-vertical-padding;

  li {
    &:before {
      display: block;
      content: " ";
      @include size(4em);
      margin: 0 auto 1em;
      border-radius: 50%;
      background-color: $red;
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.socialize:before {
      background-image: image-url('people.svg');
    }

    &.network:before {
      background-image: image-url('network.svg');
    }

    &.learn:before {
      background-image: image-url('education.svg');
    }
  }
}

.news-section {
  @include row;
  @extend %section-vertical-padding;

  h1 {
    @extend %section-header;
  }
}

.last-months-presentation {
  @include span-columns(8);
  @extend %section-side-padding;

  .video {
    width: flex-grid(4, 8) + flex-gutter(8);
    float: left;
    background-color: $dark-gray;
    height: 250px;
  }

  .about-presentation {
    @include span-columns(4 8);
    padding-left: 2em;

    h2 {
      @extend %primary-header;
    }

    h3 {
      font-weight: normal;
      font-style: italic;
      margin-bottom: 1em;
    }
  }
}

.latest-blog-posts {
  @include span-columns(4);
  @extend %section-side-padding;

  li {
    margin-bottom: $base-line-height / 2;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: $base-font-color;
  }

  time {
    color: $light-gray;
    font-style: italic;
  }
}

.connect-with {
  @extend %three-col;
  @extend %section-vertical-padding;

  a {
    @extend %all-caps;
  }
}

.sponsors {
  @include row;
  @extend %section-vertical-padding;

  h1 {
    text-align: center;
    margin-bottom: 1em;
  }

  li {
    @include span-columns(3);

    &.sponsor {
      text-align: center;
      border: 1px solid $base-border-color;
      padding: 1em;
    }
  }
}

.badges {
  @include row;
  @extend %section-vertical-padding;

  h1 {
    text-align: center;
    margin-bottom: 2em;
  }

  ul {
    margin: 0 flex-grid(2);

    li {
      @include inline-block;
      margin-right: 1em;
      padding-right: 1em;

      &:last-child {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}
