<footer class="main">
  <p>Organized by <a href="http://twitter.com/jearvon">@jearvon</a></p>
  <p>Site and logo design by <a href="http://twitter.com/thoughtbot">@thoughtbot</a></p>
  <h1>Philly.rb</h1>
</footer>

