<footer class="main">
  <p>Organized by <a href="https://bsky.app/profile/etagwerker.bsky.social">@etagwerker</a> and <a href="https://bsky.app/profile/drbragg.dev">@drbragg</a> </p>
  <p>Site and logo design by <a href="http://twitter.com/thoughtbot">@thoughtbot</a></p>
  <h1>Philly.rb</h1>
</footer>

