<header class="main">
  <nav aria-label="Primary">
    <div class="logo">
      <a href="/" aria-label="Philly.rb home">Philly.rb</a>
    </div>

    <ul class="social-links" aria-label="Social">
      <li><a target="_blank" rel="noopener noreferrer" href="https://bsky.app/profile/phillyrb.org">Bluesky</a></li>
      <li><a target="_blank" rel="noopener noreferrer" href="http://twitter.com/phillyrb">Twitter</a></li>
    </ul>

    <ul class="engagement" aria-label="Get involved">
      <li><a target="_blank" rel="noopener noreferrer" href="https://ombulabs.typeform.com/to/xYAdO8">Submit talk</a></li>
      <li><a target="_blank" rel="noopener noreferrer" href="http://www.meetup.com/Phillyrb/">Upcoming Events</a></li>
    </ul>
  </nav>
</header>

