<header class="main">
  <nav>
    <h1 class="logo">
      <a href="/">Philly.rb</a>
    </h1>

    <ul class="social-links">
      <li><a href="/videos">Videos</a></li>
      <li><a href="http://twitter.com/phillyrb">Twitter</a></li>
      <li><a href="https://groups.google.com/forum/#!forum/phillyrb">Mailing list</a></li>
    </ul>

    <ul class="engagement">
      <li><a href="https://ombulabs.typeform.com/to/xYAdO8" target="_blank">Submit talk</a></li>
      <li><a href="http://www.meetup.com/Phillyrb/">Upcoming Events</a></li>
    </ul>
  </nav>
</header>

