<header class="main">
  <nav>
    <h1 class="logo">
      <a href="/">Philly.rb</a>
    </h1>

    <ul class="social-links">
      <li><a href="/videos">Talks Archive</a></li>
      <li><a href="http://twitter.com/phillyrb">Twitter</a></li>
      <li><a href="https://groups.google.com/forum/#!forum/phillyrb">Mailing list</a></li>
    </ul>

    <ul class="engagement">
      <li><a href="mailto:j.dharrie@gmail.com">Submit talk</a></li>
      <li><a href="http://www.meetup.com/Phillyrb/events/141703172/">RSVP on Meetup</a></li>
    </ul>
  </nav>
</header>

