@keyframes slide-in-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

%slide-in-down {
  animation-name: slide-in-down;
  animation-fill-mode: both;
  animation-duration: .6s;
}

@keyframes slide-in-up {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}

%slide-in-up {
  animation-name: slide-in-up;
  animation-fill-mode: both;
  animation-duration: .6s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

%fade-in {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

%bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: .5s;
}
