.hero {
  background: image-url('philly-header.jpg') no-repeat center;
  margin-bottom: -7em;
  padding: 5em 0 12em;
  text-align: center;

  @include media(em(1200)) {
    background-size: cover;
  };

  h1 {
    @include outer-container;
    color: #fff;
    font-size: em(36);
  }
}
