.news-section {
  @include row;
  @extend %section-vertical-padding;

  h1 {
    @extend %section-header;
  }
}

.last-months-presentation {
  @include span-columns(8);
  @extend %section-side-padding;

  .video {
    background-color: $dark-gray;
    float: left;
    height: 250px;
    width: flex-grid(4, 8) + flex-gutter(8);
  }

  .about-presentation {
    @include span-columns(4 8);
    padding-left: 2em;

    h2 {
      @extend %primary-header;
    }
  }
}

.latest-blog-posts {
  @include span-columns(4);
  @extend %section-side-padding;

  li {
    margin-bottom: $base-line-height / 2;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: $base-font-color;
  }

  time {
    color: $light-gray;
    font-style: italic;
  }
}

