.videos {
  section.main {
    @extend .wrapper;
    margin-top: 4em;
    padding: 0 2em;

    @include media($max-width + 4em) {
      padding: 0;
    };
  }

  h2 {
    @extend %primary-header;
  }
}

.video {
  @include row;

  .video-container{
    @include media($medium-screen) {
      @include span-columns(6);
    };
  }

  .video-text {
    @include media($medium-screen) {
      @include span-columns(6);
    };
  }
}
