---
title: Philly.rb
---

<section class="hero">
  <div class="wrapper">
    <h1>Philly.rb is the one and only user group in Philadelphia dedicated to helping Ruby enthusiasts learn, network, and socialize.</h1>
  </div>
</section>

<div class="wrapper">
  <section class="next-event">
    <article class="next-event-information">
      <header>
        <h1>Our Next Event</h1>
        <h2>October Monthly Meeting</h2>
        <h3><time>Tues, Oct. 8th, 6pm</time></h3>
      </header>

      <h4>Comcast Center</h4>
      <p class="address"><a href="https://www.google.com/maps?q=Comcast+Center,+John+F+Kennedy+Boulevard,+Philly,+PA&hl=en&ll=39.954129,-75.168478&spn=0.010428,0.023378&sll=41.993169,-71.216463&sspn=0.010111,0.023378&oq=comcast+center+phill&hnear=Comcast+Corporate+Office,+1701+John+F+Kennedy+Blvd,+Philadelphia,+Pennsylvania+19103&t=m&z=17">1701 John F. Kennedy Blvd Philadelphia, PA</a></p>

      <h4>Hacking Your Home with Ruby &ndash; Justin Campbell</h4>
      <p>15 years ago, Justin looked forward to the day when he could have a stack of expensive audio equipment with speakers in every room, lights that follow him around, and an intercom system so the family could page each other like Tim "The Tool Man" Taylor.<a href="http://www.meetup.com/Phillyrb/events/141703172/" class="more">More</a></p>

      <a href="http://www.meetup.com/Phillyrb/events/141703172/" class="rsvp">RSVP on Meetup</a>
    </article>

    <div class="next-event-map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Comcast+Center,+John+F+Kennedy+Boulevard,+Philly,+PA&amp;aq=0&amp;oq=comcast+center+phill&amp;sll=41.993169,-71.216463&amp;sspn=0.010111,0.023378&amp;ie=UTF8&amp;hq=&amp;hnear=Comcast+Corporate+Office,+1701+John+F+Kennedy+Blvd,+Philadelphia,+Pennsylvania+19103&amp;ll=39.954127,-75.168475&amp;spn=0.010428,0.023378&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    </div>
  </section>

  <ul class="about-phillyrb">
    <li class="network">
      <h1>Network</h1>
      <p>Gain access to a growing community of Ruby programmers and enthusiasts. </p>
    </li>
    <li class="learn">
      <h1>Learn</h1>
      <p>Our monthly presentations are great for gaining in-depth knowledge on current Ruby and Rails topics. </p>
    </li>
    <li class="socialize">
      <h1>Socialize</h1>
      <p>Between pub nights and our lunches, we have plenty of chances to get together and shoot the shit.</p>
    </li>
  </ul>

  <hr />

  <ul class="connect-with">
    <li>
      <h1>#philly.rb</h1>
      <p>Chat with some of our community members on our IRC channel. <a href="irc://irc.freenode.net/#philly.rb">Join IRC</a></p>
    </li>
    <li>
      <h1>@phillyrb</h1>
      <p>All community updates and new are promoted from our twitter account. <a href="http://twitter.com/phillyrb">Follow @Philly.rb</a></p>
    </li>
    <li>
      <h1>Mailing list</h1>
      <p>Works as our communites forum. Ask questions about Ruby, Rails, Javascript and&nbsp;more. <a href="https://groups.google.com/forum/#!forum/phillyrb">Join the google group</a></p>
    </li>
  </ul>

  <hr />

  <section class="sponsors">
    <h1>Please thank our sponsors. Without them this all wouldn&rsquo;t be possible.</h1>
    <ul>
      <li class="sponsor comcast"><a href="http://labs.xfinity.com/">Comcast</a></li>
      <li class="sponsor pipeline"><a href="https://www.pipelinedeals.com/">Pipeline</a></li>
      <li class="sponsor haydle"><a href="http://haydle.com/">Haydle</a></li>
      <li class="sponsor thoughtbot"><a href="http://thoughtbot.com">thoughtbot</a></li>
      <li class="contact"><p>Looking to become a sponsor or host? <a href="">Contact us</a></p></li>
    </ul>
  </section>

  <hr />

  <section class="badges">
    <h1>Throw one of these badges up on your site and show your membership with pride.</h1>
    <ul>
      <li><img src="/images/member-badge-full-color.png" alt="" /></li>
      <li><img src="/images/member-badge-red.png" alt="" /></li>
      <li><img src="/images/ruby-bell-full-color.png" alt="" /></li>
      <li><img src="/images/ruby-bell-red.png" alt="" /></li>
    </ul>
  </section>
</div>
